/* styles for the top nav bar */

.topNav {
	width: 100%;
	background-color: #0A0A0A;
	font-family: Helvetica;
}

.topNav ul {
	list-style-type: none;
	text-align: center;
}

.topNav ul li {
	display: inline-block;
	width: 10%;
	padding: 0.5em;
	border-right: 1px solid white;
}

.topNav ul li:first-child {
	border-left: 1px solid white;
}

.topNav ul li a {
	display: block;
	color: gainsboro;
	text-decoration: none;
}

.topNav ul li a:hover {
	color: white;
}

/* placeholder search box */

.searchLi {
	border-right: initial !important;
}

.searchBox {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* end of nav styles */

/* styles for the header part, C.D */

.mainWrapper {
	width: 90%;
	margin: 0 auto;
}
	
.topHeader {
	width: 100%;
	margin: 0 auto;
}

.companyName {
	font-family: Arial; /* embeded font here - 'Rye', cursive; */
	text-align: center;
}

.headerContainer {
	font-family: Georgia,serif;
	text-align: center;
	width: 100%;
	border-bottom: 3px solid gray;
	margin: 0;
	padding: 0;
	overflow: auto;
}

.moto {
	display: inline;
	width: 25%;
	vertical-align: middle;
	font-style: italic;
	
}

.topDate {
	float: left;
	display: inline;
	vertical-align: middle;
	margin: 0;
	padding: 0;
	width: 20%;
}

.edition {
	display: inline;
	float: right;
	margin: 0;
	padding: 0;
	width: 20%;
}

/* styles for the article nav below the header */

.articleList {
	width: 100%;
	margin: 0.5em auto;
}

.articleList ul {
	list-style-type: none;
	padding: 0.5em;
	margin: 0;
}

.articleList ul li {
	display: inline-block;
	width: 5%;
	padding: 0.5em;
}

.articleList ul li a {
	display: block;
	color: rgb(42, 42, 42);
	text-decoration: none;
}

.articleList ul li a:hover {
	color: #3F9AD9;
}
/* end of header styles */

/* start of footer styles */

footer {
	background-color: #4C4C4C;
	font-family: Georgia;
}

footer h2 {
	color: gainsboro;
	width: 45%;
	display: inline-block;
	text-align: left;
	padding-left: 16px;
}

.footerHome {
	display: inline-block;
	width: 45%;
	text-align: right;
	padding-right: 16px;
}

.footerHome a {
	display: block;
	color: gainsboro;
}

footer a {
	text-decoration: none;
}

footer ul {
	list-style-type: none;
	text-align: center;
}

footer ul li {
	display: inline-block;
	width: 20%;
	
}

footer ul li a {
	display: block;
	color: gainsboro;
	padding-bottom: 0;	
}

.socialLinks {
	text-align: center;
}

.socialLinks img {
	margin: 0;
	padding: 0 10px 10px 10px;
}