/* styles for the top nav bar */

.topNav {
  width: 100%;
  background-color: #0A0A0A;
  font-family: Helvetica;
}

.topNav ul {
  list-style-type: none;
  text-align: center;
}

.topNav ul li {
  display: inline-block;
  width: 10%;
  padding: 0.5em;
  border-right: 1px solid white;
}

.topNav ul li:first-child {
  border-left: 1px solid white;
}

.topNav ul li a {
  display: block;
  color: gainsboro;
  text-decoration: none;
}

.topNav ul li a:hover {
  color: white;
}

/* placeholder search box */

.searchLi {
  border-right: initial !important;
}

.searchBox {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* end of nav styles */

/* styles for the header part, C.D */

.mainWrapper {
  width: 90%;
  margin: 0 auto;
}

.topHeader {
  width: 100%;
  margin: 0 auto;
}

.companyName {
  font-family: Arial; /* embeded font here - 'Rye', cursive; */
  text-align: center;
}

.headerContainer {
  font-family: Georgia,serif;
  text-align: center;
  width: 100%;
  border-bottom: 3px solid gray;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.moto {
  display: inline;
  width: 25%;
  vertical-align: middle;
  font-style: italic;

}

.topDate {
  float: left;
  display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 20%;
}

.edition {
  display: inline;
  float: right;
  margin: 0;
  padding: 0;
  width: 20%;
}

/* styles for the article nav below the header */

.articleList {
  width: 100%;
  margin: 0.5em auto;
}

.articleList ul {
  list-style-type: none;
  padding: 0.5em;
  margin: 0;
}

.articleList ul li {
  display: inline-block;
  width: 5%;
  padding: 0.5em;
}

.articleList ul li a {
  display: block;
  color: rgb(42, 42, 42);
  text-decoration: none;
}

.articleList ul li a:hover {
  color: #3F9AD9;
}
/* end of header styles */

/* start of footer styles */

footer {
  clear: both;
  background-color: #4C4C4C;
  font-family: Georgia;
}

footer h2 {
  color: gainsboro;
  width: 45%;
  display: inline-block;
  text-align: left;
  padding-left: 16px;
}

.footerHome {
  display: inline-block;
  width: 45%;
  text-align: right;
  padding-right: 16px;
}

.footerHome a {
  display: block;
  color: gainsboro;
}

footer a {
  text-decoration: none;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer ul li {
  display: inline-block;
  width: 20%;

}

footer ul li a {
  display: block;
  color: gainsboro;
  padding-bottom: 0;
}

.socialLinks {
  text-align: center;
}

.socialLinks img {
  margin: 0;
  padding: 0 10px 10px 10px;
}

/* TP is from here */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f5;
  font-family: "FranklinITCProLight","Helvetica Neue Light","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#upper-main {
  width: 90%;
  margin: 2em auto;
  border-top: 1px solid #ccc;
}


/* Styling section element */
section {
  width: 66.5%;
  float: left;
  margin: 1.5% 0;
  border-right: 1px solid #ccc;
}

section > div {
  overflow: auto;
}

/* section daily */
section #daily {
  padding-bottom: 12px;
  margin-right: 1em;
  border-bottom: 1px solid #ccc;
}

section #daily article {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
  padding-bottom: 1em;
}

section #daily div article:first-child {
  margin-top: 0;
}

section #daily div article:last-child {
  border: none;
  padding-bottom: 0;
}

section #daily div:first-child {
  float: left;
  padding: 0 1em 0 0;
  width: 42%;
  border-right: 1px solid #ccc;
}

section div .topic {
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 8px;
}

section div .topic span {
  font-weight: 300;
}

section #daily div h2 {
  font-family: "PostoniWide",Georgia,serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

div h3 {
  margin-bottom: 1em;
  font-size: 110%;
}

section article .writting {
  font-size: 95%;
  margin-bottom: 8px;
}

section article .author {
  font-size: 85%;
  margin-bottom: 8px;
}

section article .other-writting a {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: bold;
  font-size: 90%;
}

div a:hover {
  color: #6ac;
}

div a {
  text-decoration: none;
  color: #000;
}

section #daily div:last-child {
  float: left;
  width: 58%;

}

section #daily div:last-child article {
  margin-left: 1em;
  padding-bottom: 1em;
}

section #daily div.image article:first-child {
  text-align: center;
}

section #daily div.image img {
  max-width: 100%;
}

section #daily div.image article > a > img {
  max-width: 50%;
  float: right;
  margin-left: 1em;
}

section #daily div.image figcaption {
  text-align: left;
  opacity: 0.5;
  font-size: 80%;
}


/* class leading used global */
div.leading {
  width: 20%;
  float: left;
  font-weight: bold;
  font-size: 95%;
}

.leading hr {
  width: 22%;
  height: 4px;
  background: #000;
  margin-bottom: 8px;
  border: none;
}

div.leading + div {
  width: 80%;
  float: left;
}

#opinion, #top-stories, #visual-stories{
  padding: 1em 0;
  margin-right: 1em;
  border-bottom: 1px solid #ccc;
}

#visual-stories {
  border: none;
}

/* section opinion */
#opinion div article {
  width: 48.5%;
  height: 35%;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 3%;
  box-shadow: 0 2px 1px #ccc;
}

#opinion div article:nth-last-child(2),
#opinion div article:nth-last-child(1) {
  height: 24%;
  margin-bottom: 0;
}

#opinion div article:nth-child(odd) {
  margin-right: 3%;
}

#opinion div article img {
  float: left;
  width: 20%;
  margin: 3%;
}

#opinion div article div {
  display: block;
  width: 74%;
  float: right;
  margin: 3% auto;
}


/* section top-stories */
section #top-stories article {
  padding-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

section #top-stories article:first-child {
  margin-top: 0;
}

section #top-stories article:last-child {
  border: none;
  padding-bottom: 0;
}

#top-stories div article img {
  width: 35%;
  float: left;
}

#top-stories div article div h3 {
  font-size: 130%;
}

#top-stories div article div {
  width: 65%;
  display: block;
  float: right;
  padding-left: 1.5em;
}


/* section visual-story */
section #visual-stories {
  overflow: auto;
}

section #visual-stories article {
  width: 49%;
  float: left;
}

section #visual-stories article:nth-child(odd) {
  margin-right: 2%;
}

section #visual-stories article img {
  max-width: 100%;
}

section #visual-stories article figcaption {
  font-size: 90%;
  opacity: 0.7;
}

section #visual-stories article figure {
  margin-bottom: 1em;
}



/* Styling aside element */
aside {
  width: 32%;
  background: #999;
  height: 900px;
  display: inline-block;
}

/* TP ends */


/* Jian -> */
#subCategory {
  width: 90%;
  height: 2160px;
  margin: 0 auto;
  padding: 0;
  clear: both;
}

#subCategory div {
  width: 260px;
  height: 700px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 20px;
  display: inline-block;
  background-color: #fff;
  border: 1px solid #eaeaea;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  float: left;
}

#subCategory div img {
  width: 259px;
  height: 150px;
}

#subCategory div h3, h4 {
  margin: 20px;
}

#subCategory div h4:not(:last-child) {
  padding-bottom: 20px;
  border-bottom: 1px solid #d5d5d5;
}
/* Jian <- */