@charset "utf-8";

/*
  CSS for article.html Web page
  Script date: Oct 13, 2017
  Developed by: Chris Daldalian, Jian Zhao, Thanh-Tung Pham;
*/

/* styles for the top nav bar */

.navWrapper {
    width: 100%;
    background-color: #0A0A0A;
    font-family: Helvetica;
    font-size: 14px;
    margin-bottom: 3em;
    overflow: auto;
}

.topNav {
    position: fixed;
    z-index: 100;
    background-color: black;
    width: 100%;
}

    .topNav ul {
        list-style-type: none;
    }

.navLeftBtns {
    display: inline-block;
    font-size: 16px;
    vertical-align: center;
    padding-left: 1.5em;
    float: left;
}

    .navLeftBtns + div {
        display: inline-block;
    }

.topNav ul li {
    display: inline-block;
    padding: 0.5em;
    margin: 0.5em;
}


    .topNav ul li a {
        display: block;
        color: gainsboro;
        text-decoration: none;
    }

        .topNav ul li a:hover {
            color: white;
        }

.navRightBtns {
    display: inline-block;
    font-size: 16px;
    vertical-align: center;
    padding-right: 1.5em;
    float: right;
}

.nav-btn-li {
    background-color: rgb(68,68,68);
    border: 1px solid rgb(68,68,68);
    border-radius: 4px;
    margin-left: 0.1em !important;
    margin-right: 0.1em !important;
}

/* end of nav styles */

/* styles for the header part, C.D */

.topHeader {
    width: 90%;
    margin: 65px auto 0 auto;
}

.companyName {
    font-family: Arial; /* embeded font here - 'Rye', cursive; */
    text-align: center;
}

.headerContainer {
    font-family: Georgia,serif;
    font-size: 12px;
    text-align: center;
    width: 100%;
    border-bottom: 3px solid black;
    padding-top: 2em;
    padding-bottom: 0.4em;
    overflow: auto;
}

.moto {
    display: inline;
    width: 25%;
    vertical-align: middle;
    font-style: italic;
}

.topDate {
    float: left;
    display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 20%;
}

.edition {
    display: inline;
    float: right;
    margin: 0;
    padding: 0;
    width: 20%;
}

/* styles for the article nav below the header */

.redText {
    color: red;
}

.articleList {
    width: 100%;
    margin: 0.5em auto;
}

    .articleList ul {
        list-style-type: none;
        padding: 0.5em;
        margin: 0;
    }

        .articleList ul li {
            display: inline-block;
            padding: 0.5em;
        }

            .articleList ul li a {
                display: block;
                color: rgb(42, 42, 42);
                text-decoration: none;
            }

                .articleList ul li a:hover {
                    color: #3F9AD9;
                }


/* end of header styles */

/* start of footer styles */

/* styles for top part of the footer */

footer.footer {
    clear: both;
    width: 100%;
}

.topFooter {
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-align: center;
    position: relative;
}

.footer-left-btns-container {
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 1.5em;
    position: absolute;
    left: 0;
    top: 12.5%;
    margin-left: 1em;
    padding: 8px;
    background-color: white;
}

.footer-btn {
    display: inline;
    vertical-align: middle;
    font-size: 14px;
    margin-right: 4px;
    border-right: 2px solid #dedede;
    padding-right: 4px;
}

.footer-btn:last-child {
    border:none;
}

.footerCopyright {
}

.footer-right-btns-container {
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 1.5em;
    padding: 8px;
    background-color: white;
    margin-right: 1em;
    position: absolute;
    right: 0;
    top: 12.5%;
}


/* styles for bottom part of the footer */

table.footer-table {
    text-align: left;
    width: 80%;
    margin: 2% auto;
}

.footer-table a {
    text-decoration: none;
}

.footer-table th, td, a {
    font-size: 14px;
    color: #2a2a2a;
}

.footer-table a:hover {
    color: #6ac;
}

/* TP is from here */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  background: #f8f8f5;
  font-family: "FranklinITCProLight","Helvetica Neue Light","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

iframe {
  width: 360px;
  height: 200px;
  border: none;
  overflow: auto;
}

#upper-main {
  width: 90%;
  margin: 2em auto;
  border-top: 1px solid #ccc;
}


/* Styling section element */
section {
  width: 66.5%;
  float: left;
  margin: 1.5% 0;
  border-right: 1px solid #ccc;
}

section > div {
  overflow: auto;
}

/* section daily */
section #daily {
  padding-bottom: 12px;
  margin-right: 1em;
  border-bottom: 1px solid #ccc;
}

section #daily article {
  border-bottom: 1px solid #ccc;
  margin-top: 1em;
  padding-bottom: 1em;
}

section #daily div article:first-child {
  margin-top: 0;
}

section #daily div article:last-child {
  border: none;
  padding-bottom: 0;
}

section #daily div:first-child {
  float: left;
  padding: 0 1em 0 0;
  width: 42%;
  border-right: 1px solid #ccc;
}

section div .topic {
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 8px;
}

section div .topic span {
  font-weight: 300;
}

section #daily div h2 {
  font-family: "PostoniWide",Georgia,serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

div h3 {
  margin-bottom: 1em;
  font-size: 110%;
}

section article .writting {
  font-size: 95%;
  margin-bottom: 8px;
}

section article .author {
  font-size: 85%;
  margin-bottom: 8px;
}

section article .other-writting a {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: bold;
  font-size: 90%;
}

div a:hover {
  color: #6ac;
}

div a {
  text-decoration: none;
  color: #000;
}

section #daily div:last-child {
  float: left;
  width: 58%;

}

section #daily div:last-child article {
  margin-left: 1em;
  padding-bottom: 1em;
}

section #daily div.image article:first-child {
  text-align: center;
}

section #daily div.image img {
  max-width: 100%;
}

section #daily div.image article > a > img {
  max-width: 50%;
  float: right;
  margin-left: 1em;
}

section #daily div.image figcaption {
  text-align: left;
  opacity: 0.5;
  font-size: 80%;
}


/* class leading used global */
div.leading {
  width: 20%;
  float: left;
  font-weight: bold;
  font-size: 95%;
}

.leading hr {
  width: 22%;
  height: 4px;
  background: #000;
  margin-bottom: 8px;
  border: none;
}

div.leading + div {
  width: 80%;
  float: left;
}

#opinion, #top-stories, #visual-stories{
  padding: 1em 0;
  margin-right: 1em;
  border-bottom: 1px solid #ccc;
}

#visual-stories {
  border: none;
}

/* section opinion */
#opinion div article {
  width: 48.5%;
  height: 35%;
  float: left;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 3%;
  box-shadow: 0 2px 1px #ccc;
}

#opinion div article:nth-last-child(2),
#opinion div article:nth-last-child(1) {
  height: 24%;
  margin-bottom: 0;
}

#opinion div article:nth-child(odd) {
  margin-right: 3%;
}

#opinion div article img {
  float: left;
  width: 20%;
  margin: 3%;
}

#opinion div article div {
  display: block;
  width: 74%;
  float: right;
  margin: 3% auto;
}


/* section top-stories */
section #top-stories article {
  padding-bottom: 1em;
  margin-top: 1em;
  border-bottom: 1px solid #ccc;
  overflow: auto;
}

section #top-stories article:first-child {
  margin-top: 0;
}

section #top-stories article:last-child {
  border: none;
  padding-bottom: 0;
}

#top-stories div article img {
  width: 35%;
  float: left;
}

#top-stories div article div h3 {
  font-size: 130%;
}

#top-stories div article div {
  width: 65%;
  display: block;
  float: right;
  padding-left: 1.5em;
}


/* section visual-story */
section #visual-stories {
  overflow: auto;
}

section #visual-stories article {
  width: 49%;
  float: left;
}

section #visual-stories article:nth-child(odd) {
  margin-right: 2%;
}

section #visual-stories article img {
  max-width: 100%;
}

section #visual-stories article figcaption {
  font-size: 90%;
  opacity: 0.7;
}

section #visual-stories article figure {
  margin-bottom: 1em;
}



/* Styling aside element */
aside {
  width: 30%;
  display: inline-block;
  margin-left: 2%;
}

aside section {
  width: 100%;
  border-right: none;
  padding-top: 1em;
}

aside section:first-child,
aside section:last-child {
  border-bottom: 1px solid #ccc;
}

div.title {
  width: 35%;
  font-weight: bold;
  font-size: 95%;
  margin-bottom: 1em;
}

.title hr {
  width: 30%;
  height: 4px;
  background: #000;
  margin-bottom: 8px;
  border: none;
}

aside section figure {
  text-align: center;
}

aside section figure figcaption {
  text-align: left;
  opacity: 0.5;
  font-size: 80%;
  padding-bottom: 1em;
}

.up-next .title p {
  text-transform: uppercase;
  font-weight: 400;
}

.up-next .content article {
  overflow: auto;
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
}

.up-next .content img {
  width: 35%;
  float: left;
}

.up-next .content h3 {
  width: 65%;
  display: block;
  float: right;
  padding-left: 1em;
}

aside .most-read {
  border-bottom: 1px solid #ccc;
}

.most-read div:last-child {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 2px #ccc;
}

.most-read div ol {
  padding-left: 2em;
}

.most-read div ol li {
  margin: 1em 1em 0 0;
  padding-bottom: 1em;
  float: right;
  border-bottom: 1px solid #ccc;
}

.most-read div ol li:last-child {
  border: none;
}

.most-read div ol li img {
  width: 20%;
  float: right;
}

.most-read div ol li p {
  width: 80%;
  float: right;
  padding-right: 1em;
}

.todays-paper {
  position: relative;
}

.todays-paper div:last-child {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.todays-paper div:last-child div {
  width: 100%;
  background: #fff;
}

.todays-paper div:last-child div p {
  padding: 1em;
  margin: 0 1em;
}

.todays-paper div:last-child div p:first-child {
  border-bottom: 1px solid #ccc;
}

.todays-paper div:last-child img {
  position: absolute;
  bottom: 0;
  right: 1em;
}

.diversions div:last-child {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
}

.diversions div:last-child p {
  width: 49%;
  display: inline-block;
  padding: 1em 1em 0 1em;
  font-size: 90%;
}

.diversions div:last-child p:last-child,
.diversions div:last-child p:nth-last-child(2) {
  margin-bottom: 1em;
}

.diversions div:last-child p:first-child::before {
  content: url("../images/comic.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:nth-child(2)::before {
  content: url("../images/eggs.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:nth-child(3)::before {
  content: url("../images/crossword.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:nth-child(4)::before {
  content: url("../images/horoscopes.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:nth-child(5)::before {
  content: url("../images/mahjongg.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:nth-child(6)::before {
  content: url("../images/solitaire.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:nth-child(7)::before {
  content: url("../images/sudoku.png");
  position: relative;
  top: 4px;
}

.diversions div:last-child p:last-child::before {
  content: url("../images/tv.png");
  position: relative;
  top: 4px;
}




/* TP ends */


/* Jian -> */
#subCategory {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    clear: both;
}

    #subCategory div {
        width: 260px;
        height: 700px;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        display: inline-block;
        background-color: #fff;
        border: 1px solid #eaeaea;
        box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
        border-radius: 5px;
        float: left;
    }

        #subCategory div img {
            width: 259px;
            height: 150px;
        }

        #subCategory div h3, h4 {
            margin: 20px;
        }

        #subCategory div h4:not(:last-child) {
            padding-bottom: 20px;
            border-bottom: 1px solid #d5d5d5;
        }
/* Jian <- */