* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font-family: "FranklinITCProLight","Helvetica Neue Light","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
}

#upper-main {
  width: 90%;
  margin: 2em auto;
  border-top: 1px solid #ccc;
}


/* Styling section element */
section {
  width: 66.5%;
  float: left;
  margin: 1.5% 0;
  border-right: 1px solid #ccc;
}

section > div {
  overflow: hidden;
}

/* section daily */
section #daily {
  padding-bottom: 12px;
  margin-right: 1em;
  border-bottom: 1px solid #ccc;
}

section #daily article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
}

section #daily article:nth-child(even) {
  border: none;
  margin-top: 1em;
  padding-bottom: 0;
}

section #daily div:first-child {
  float: left;
  padding: 0 1em 0 0;
  width: 42%;
  border-right: 1px solid #ccc;
}

section #daily div .topic {
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 8px;
}

section #daily div .topic span {
  font-weight: 300;
}

section #daily div h2 {
  font-family: "PostoniWide",Georgia,serif;
  font-size: 1.8em;
  font-weight: 600;
  margin-bottom: 1em;
}

section #daily div h3 {
  margin-bottom: 1em;
}

section article .writting {
  font-size: 95%;
  margin-bottom: 8px;
}

section article .author {
  font-size: 90%;
  margin-bottom: 8px;
}

section article .other-writting a {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
  font-weight: bold;
  font-size: 90%;
}

section #daily div a:hover {
  color: #6ac;
}

section #daily div a {
  text-decoration: none;
  color: #000;
}

section #daily div:last-child {
  float: left;
  width: 58%;

}

section #daily div:last-child article {
  margin-left: 1em;
  padding-bottom: 1em;
}

section #daily div.image article:first-child {
  text-align: center;
}

section #daily div.image img {
  max-width: 100%;
}

section #daily div.image article > a > img {
  max-width: 50%;
  float: right;
  margin-left: 1em;
}

section #daily div.image figcaption {
  text-align: left;
  opacity: 0.5;
  font-size: 80%;
}


/* class leading used global */
div.leading {
  background: #dac;
  height: 200px;

  width: 19%;
  margin-right: 1%;
  float: left;
}

/* section opinion */
section #opinion {
  background: #bcc;

  margin-bottom: 8px;
}


#opinion div.leading ~ div {
  background: #edc;
  height: 200px;

  width: 39%;
  margin-right: 1%;
  float: left;
}


/* section top-stories */
section #top-stories {
  background: #eea;
  margin-bottom: 8px;
}

#top-stories div.leading ~ div,
#visual-stories div.leading ~ div {
  background: #edc;
  height: 200px;

  width: 79%;
  margin-right: 1%;
  float: left;
}


/* section visual-story */
section #visual-stories {
  background: #9ab;

  margin-bottom: 8px;
}



/* Styling aside element */
aside {
  width: 32%;
  background: #999;
  height: 900px;
  display: inline-block;
}